*{
    margin: 0;
    padding: 0;
}

.main-container{
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.left{
    background-color: #E5F2FF;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left img{
    width: 100%;
    padding: 0px 5px 100px 5px;
}

.left h1{
    padding: 100px 90px 0px 60px;
    font-size: 32px;
    font-family: sans-serif;

}

.right{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right form label{
    margin-bottom: 5px;
}

.right form input{
    width: 380px;
    margin-bottom: 20px;
    background-color: #f3f3f4;
    border: 0px;
    border-radius: 8px;
}