*{
    margin: 0;
}


html{
    background-color: #f3f6fb;
}

.main-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 50px;
    margin-top: 20px;
    height: 200px;
    width: 700px;
    background-color: #d4edda;
    border-radius: 10px;
}

.main-card img{
    height: 200px;
}

.card-title p{
    padding: 20px;
    font-size: 24px;
    color: green;
    font-weight: bold;
}

.card-subtitle{
    margin-left: 20px;
}

.side-bar{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    background-color: #3672f8;
    box-shadow: 0px 4px 10px rgba(161, 182, 229, 0.25);
}

.side-bar h1{
    margin-top: 20px;
    color: #ffffff;
}

.side-bar a{
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #3672f8;
    border-radius: 10px;
}

.side-bar a:hover{
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #3672f8;
}

.side-bar a:active{
    background-color: #E3ECFF;
    color: #3672f8;
}

.logo{
    color: #3672f8;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.bar h1{
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 35px;
}

.nav-bar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(161, 182, 229, 0.25);
}

.nav-bar input{
    margin-left: 170px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #ffffff;
    border: 1px solid #E3ECFF;
}

.nav-bar span{
    font-family: Arial, Helvetica, sans-serif;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 170px;
    border-style: solid;
    border-bottom-width: 4px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #3672f8;
}

.nav-bar .user-info span{
    text-decoration: none;
    color: #212c4f;
    margin-right: 50px;
}

.nav-bar a{
    margin-right: 15px;
}

.logout{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.logout a{
    color: #ffffff;
}

.logout a:hover{
    color: #3672f8;
}


.main{
    width: 100%;
    display: flex;
    background-color: #f3f6fb;
}

#form-prontuario{
    margin-left: 240px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#table{
    margin-left: 170px;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 20px;
}

.main-user{
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-right: 50px;
}

.main-user form{
    background-color: white;
    padding: 50px;
    width: 500px;
    height: 490px;
    margin-top: 40px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
    border-radius: 10px;
}

.main-user form button{
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-user form button:hover{
    background-color: #007bff;
}

.main-dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-dashboard form{
    background-color: #ffffff;
    padding: 30px 30px 20px 30px ;
    width: 600px;
    margin-top: 40px;
    margin-left: 170px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
    border-radius: 10px;
}

.main-dashboard form label{
    margin-bottom: 5px;
}

.main-dashboard form textarea{
    margin-bottom: 20px;
    border-radius: 10px;
}

.main-dashboard form input{
    width: 380px;
    border-radius: 10px;
}

.main-dashboard form button{
    border-radius: 10px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-dashboard form button:hover{
    background-color: #007bff;
}

.mural{
    display: flex;
}

.mural .teste{
    margin-left: 20px;
    margin-right: 50px;
}

#selecionado{
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #3672f8;
}

.btn1 {
    border-radius: 10px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
} 

.btn1:hover{
    background-color: #151282;
}

.btn2{
    border-radius: 10px;
    padding: 10px;
    background-color: #ea4335;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.btn2:hover{
    background-color: #B22315;
}

.btn3 {
    border-radius: 10px;
    padding: 10px;
    background-color: #0E9664;
    color: white;
    border: 0px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
} 

.btn3:hover {
    background-color: #008050;
}

.btn4{
    border-radius: 10px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px; 
    background-color: #3672f8;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.btn4:hover{
    background-color: #007bff;
}

.btn-add{
    border-radius: 10px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px; 
    background-color: #e8f4ff;
    color: #3672f8;
}

.teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-top: 40px;

    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: center;
    margin-bottom: 24px;
}

.title a{
    margin-left: auto;
}

.title h1{
    font-size: 32px;
}

.title .search input{
    height: 50px;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #f3f6fb;
    border: 1px solid #E3ECFF;
    margin-left: 30px;
    width: 300px;
}

.main-user .teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-left: 30px;
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}

.search{
    display: flex;
    flex-direction: row;
}
