*{
    margin: 0;
}


html{
    background-color: #f0f3f5;
}

.main-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 50px;
    height: 200px;
    background-color: #d4edda;
    border-radius: 20px;
}

.main-card img{
    height: 200px;
    margin-right: 150px;
}

.card-title p{
    padding: 40px 0px 0px 150px;
    font-size: 24px;
    color: green;
    font-weight: bold;
}

.card-subtitle{
    margin-left: 150px;
}

.side-bar{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 130px;
    background-color: #212c4f;
}

.side-bar a{
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #212c4f;
    border-radius: 20px;
}

.side-bar a:hover{
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #212c4f;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    color: #ffffff;
    padding-top: 22px;
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bar{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f3f5;
}

.nav-bar input{
    margin-left: 170px;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #ffffff;
    border: 1px solid #212c4f;
}

.nav-bar span{
    font-family: Arial, Helvetica, sans-serif;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.nav-bar .user-info a{
    text-decoration: none;
    color: #212c4f;
    margin-right: 50px;
}

.nav-bar .user-info a:hover{
    color: #151282;
}

.divider{   
    width: 0px;
    height: 26px;
    margin: 0 10px;
    border: 1px solid #DCDCDC;
}

.main{
    width: 100%;
    display: flex;
    background-color: #f0f3f5;
}

#form-prontuario{
    margin-left: 240px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#table{
    margin-left: 170px;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 20px;
}

.main-user{
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    margin-right: 50px;
}

.main-user form{
    background-color: white;
    padding: 50px;
    width: 500px;
    height: 490px;
    margin-top: 40px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
    border-radius: 20px;
}

.main-user form button{
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3734a7;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-user form button:hover{
    background-color: #151282;
}

.main-dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-dashboard form{
    background-color: #ffffff;
    padding: 30px 30px 20px 30px ;
    width: 600px;
    margin-top: 40px;
    margin-left: 170px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
    border-radius: 20px;
}

.main-dashboard form label{
    margin-bottom: 5px;
}

.main-dashboard form textarea{
    margin-bottom: 20px;
    border-radius: 8px;
}

.main-dashboard form input{
    width: 380px;
    border-radius: 8px;
}

.main-dashboard form button{
    border-radius: 10px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-dashboard form button:hover{
    background-color: #151282;
}

.main-dashboard .mural h1{
    font-size: 40px;
}

.main-dashboard .mural p{
    font-size: 24px;
}

.main-dashboard .mural span{
    font-size: 12px;
}

.main-dashboard .teste {
    padding-bottom: 10px;
    width: 900px;
    margin-left: 170px;
}

#selecionado{
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #212c4f;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}
.btn1 {
    border-radius: 10px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
} 

.btn1:hover{
    background-color: #151282;
}

.btn2{
    border-radius: 10px;
    padding: 10px;
    background-color: #CC3B2D;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.btn2:hover{
    background-color: #B22315;
}

.btn3 {
    border-radius: 10px;
    padding: 10px;
    background-color: #0E9664;
    color: white;
    border: 0px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
} 

.btn3:hover {
    background-color: #008050;
}

.btn4{
    border-radius: 10px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px;
    background-color: #212c4f;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.btn4:hover{
    background-color: #151282;
}

.teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-top: 40px;

    padding: 30px 30px 0px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-user .teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-left: 30px;
    padding: 30px 30px 0px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}

.search{
    display: flex;
    flex-direction: row;
}
