*{
    margin: 0;
}


html{
    background-color: #ffffff;
}

label{
    font-weight: bold;
}

#myChart{
    display: flex;
    width: 500px;
    height: 300px;
}

.main-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 225px;
    height: 180px;
    width: 1100px;
    background-color: #3672f8;
    box-shadow: 0px 4px 8px rgba(54, 114, 248, 0.2); 
    border-radius: 8px;
}

.main-card img{
    height: 100%;
}

.card-title p{
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.card-subtitle{
    margin-left: 20px;
    color: #ffffff;
}

.card-primary{
    margin-left: 16px;
    margin-top: 26px;
    height: 180px;
    width: 400px;
    background-color: #f3f6fb;
    color: #000000;
    box-shadow: 0px 4px 8px rgba(54, 114, 248, 0.2); 
    border-radius: 8px;
}

.body-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 26px;
    padding: 30px 0px 0px 30px;
}

.body-info span{
    font-size: 18px;
    font-weight: bold;
}

.body-info small{
    
}


.card-secundary{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    margin-left: 24px;
    background-color: #d4edda;
    box-shadow: 0px 4px 8px rgba(212, 237, 218, 0.2);
    border-radius: 8px;
}

.side-bar{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.side-bar img{
    width: 100px;
    margin-left: 50px;
    margin-top: 16px;
}

#new-paciente{
    color: #ffffff;
    background-color: #3672f8;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 16px;
    box-shadow: 0px 0px 8px 3px   rgba(54, 114, 248, 0.2);  
}


#new-paciente:hover{
    background-color: #3672f8;
    color: #ffffff;
}

#user-nome{
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
}

#user-email{
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px 0px 0px 10px;
    font-size: 12px;
}

.side-bar a{
    display: flex;
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
    margin-left: 16px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #90969b;
    background-color: #ffffff;
    border-radius: 8px;
}

.side-bar a:hover{
    text-decoration: none;
    border-radius: 8px;
    margin-right: 16px;
    background-color: #f8f9fd;
    color: #90969b;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);

}


.side-bar span{
    margin-right: 8px;
    font-size: 20px;
}

.logo{
    color: #90969b;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar-itens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.bar h1{
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 35px;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.nav-bar input{
    margin-left: 170px;
    width: 500px;
    height: 50px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #ffffff;
    border: 1px solid #E3ECFF;
}

.nav-bar span{
    font-family: Arial, Helvetica, sans-serif;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.description h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 225px;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 4px;
    padding-left: 10px;
    border-color: #3672f8;
}

.nav-bar .user-info span{
    text-decoration: none;
    color: #3672f8;
    margin-right: 20px;
}

.nav-bar a{
    margin-right: 15px;
}

.logout{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.logout a{
    color: #90969b;
}

.logout a:hover{
    color: #90969b;
}


.main{
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.wrap-content{
    margin-left: 212px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#main h1{
    margin-top: 26px;
    margin-left: 225px;
}

#form-prontuario{
    margin-left: 240px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#table{
    margin-left: 225px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
}

#table a{
    text-decoration: none;
}

.main-user{
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    margin-right: 50px;
}

.main-user form{
    
    margin-top: 40px;
    margin-left: 2px;
}

.main-user form button{
    width: 400px;
    border-radius: 8px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-user form button:hover{
    background-color: #007bff;
}

.main-dashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
  align-items: center;
}

.main-dashboard form{
    background-color: #ffffff;
    padding: 30px 30px 20px 30px ;
    width: 600px;
    margin-top: 40px;
    margin-left: 145px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
    border-radius: 8px;
}

.main-dashboard form label{
    margin-bottom: 5px;
}

.main-dashboard form textarea{
    border: 1px solid #3672f8;
    margin-bottom: 20px;
    border-radius: 8px;
}

.main-dashboard form input{
    border: 1px solid #3672f8;
    width: 380px;
    border-radius: 8px;
}

.main-dashboard form button{
    border-radius: 8px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
}

.main-dashboard form button:hover{
    background-color: #007bff;
}

.mural{
    display: flex;
}

.mural .teste{
    margin-left: 20px;
    margin-right: 50px;
}

#selecionado{
    text-decoration: none;
    border-radius: 8px;
    margin-right: 16px;
    color: #3672f8;
}

.btn-cancel{
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    color: #3672f8;
    border: 1px solid #3672f8 ;
}

.btn1 {
    border-radius: 8px;
    padding: 10px;
    background-color: #3672f8;
    border: 0px;
    color: white;
    box-shadow: 0px 0px 8px 3px rgba(54, 114, 248, 0.2); 
} 

.btn2{
    border-radius: 8px;
    padding: 10px;
    background-color: #ea4335;
    color: #ffffff;
    border: 0px;
}


.btn3 {
    border-radius: 8px;
    padding: 10px;
    background-color: #0E9664;
    color: white;
    border: 0px;
    box-shadow: 0px 4px 8px rgba(138, 149, 158, 0.2);
} 

.btn3:hover {
    background-color: #008050;
}

.btn4{
    border-radius: 8px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px; 
    background-color: #3672f8;
    box-shadow: 0px 0px 8px 3px   rgba(54, 114, 248, 0.2);
    color: #ffffff;
    
}

.btn-add{
    border-radius: 8px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px; 
    background-color: #3672f8;
    box-shadow: 0px 4px 8px rgba(54, 114, 248, 0.2);
    color: #ffffff;
}

.btn-add:hover{
    border-radius: 8px;
    padding: 0px;
    width: 200px;
    height: 50px;
    border: 0px; 
    color: #ffffff;
    background-color: #007bff;
}

.teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
    border: 1px; 
}

.teste input:focus{
    border: 1px solid #3672f8;
}

.teste textarea:focus{
    border: 1px solid #3672f8; 
}

.teste select:focus{
    border: 1px solid #3672f8;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title a{
    margin-left: auto;
}

.title h1{
    font-weight: bold;
    font-size: 24px;
}

.title .search input{
    height: 50px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #f8f9fd;
    margin-left: 30px;
    width: 300px;
}

.title .search input:focus{
    border: 1px solid #3672f8;
}

.main-user .teste{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-left: 30px;
    padding: 30px 30px 0px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(80, 87, 150, 0.2);
}

.search{
    display: flex;
    flex-direction: row;
}

.teste2{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin-top: 10px;
}

.body-line{
    display: flex;
    justify-content: space-between;
}
