<form action="/cadastrar-prontuario/new-prontuario" method="POST">
  <div class="row">
    <div class="col">
        <label for="login">Nome</label>
        <input type="text" class="form-control" name="nome">
    </div>
    <div class="col">
        <label for="senha">Endereço</label> 
        <input type="text" class="form-control" name="endereco">
    </div>
  </div>
      <br>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
