<div class="card mb-3">
  <img src="/img/LOGO-FASIPE.png" class="card-img-top" alt="some text">
  <div class="card-body">
    <h5 class="card-title">Em Breve Prontuario Eletronico FasipeCPA</h5>
    <a href="login" class="btn btn-success">Login</a>
    <a href="showuser" class="btn btn-primary">Mostrar usuarios</a>
    <a href="cadastrar-prontuario" class="btn btn-danger">Cadastrar Prontuarios</a>
    <a href="showprontuarios" class="btn btn-dark">Mostrar Prontuarios</a>
  </div>
</div>