<center><h1>Prontuarios</h1></center>
{{#each prontuarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>{{endereco}}</small>
            <h5>{{date}}</h5>
        </div>
    </div>

{{else}}

{{/each}}
