<center><h1>Usuarios</h1></center>
{{#each usuarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{login}}</h4>
            <small>{{senha}}</small>
            <h5>{{date}}</h5>
        </div>
    </div>

{{else}}

{{/each}}