<head>
    <title>Prontuário</title>
    <link rel="stylesheet" href="/css/viewprontuario.css">
</head>
<div class="container mt-4">
    <table border="1" cellpadding="5">
        <tr>
            <td>
                <center>{{prontuario.nome}}</center>
            </td>
        </tr>
        <tr>
            <td>{{prontuario.data_nasc}}</td>
        </tr>
    </table>
</div>