<head>
    <title>Prontuário</title>
    <link rel="stylesheet" href="/css/viewprontuario.css">
</head>
<div class="container">
    <table style="width: 649px;" border="1">
        <tbody>
            <tr>
                <td style="width: 655px;">Prontuário Eletronico FASIPE-CPA</td>
            </tr>
        </tbody>
    </table>
    <table style="width: 649px;" border="1">
        <tbody>
            <tr>
                <td style="width: 109px;">{{prontuario.cpf}}</td>
                <td style="width: 462px; text-align:center">{{prontuario.nome}}</td>
                <td style="width: 100px;">{{prontuario.data_nasc}}</td>
            </tr>
        </tbody>
    </table>
</div>