<head>
    <title>Prontuário</title>
    <link rel="stylesheet" href="/css/viewprontuario.css">
</head>
<div class="container mt-4">
    <table border="1" cellpadding="5">
        <tr>
            <td>{{prontuario.nome}}</td>
        </tr>
        <tr>
            <td>{{prontuario.endereco}}</td>
        </tr>
    </table>
</div>